<div class="col-md-5 panel panel-default hidden background-light" id="divDetails">
    <div class="panel background-dark">
        Naziv:
        <div id="proizvodNaziv" class="txtBlue"></div>
    </div>
    <div class="panel background-dark">
        Kategorija:
        <div id="proizvodKategorija" class="txtBlue"></div>
    </div>
    <div class="panel background-dark">
        Cijena:
        <div id="proizvodCijena" class="txtBlue"></div>
    </div>
    <div class="panel background-dark">
        <img id="proizvodSlika"  class="img-rounded center-block" width="305" height="305"/>
    </div>
    <div class="panel background-dark">
        Kratak opis:
        <div id="proizvodOpis" class="txtBlue"></div>
    </div>
    <form action="/Kosarica" method="POST">
        <div class="input-group input-group-md">
            <span class="input-group-addon" id="sizing-addon1">Kolicina: </span>
            <input type="number" name="numKolicina" class="form-control" id="numKolicina" min="0" max="50" value="1">
            <input type="hidden" id="proizvodId" name="proizvodId" value="-1"/>
            <button class="btn btn-primary center-block" type="submit">Dodaj u kosaricu</button>
        </div>
    </form>
</div>