@using Microsoft.AspNet.Mvc.Rendering
<div class="navbar navbar-inverse">
    <div class="navbar-text navbar-right nav">
        <span>
            You are not logged in,
        </span>
        <a class="navbar-btn btn btn-warning marginRight" href="Auth/Login">Log in</a>
    </div>
</div>